body {
    margin: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
    min-height: 300px;
}

canvas {
    vertical-align: top;
}

#screen {
    position: relative;
}

#framecounter {
    position: absolute;
    right: 0;
    color: white;
    font-size: 8pt;
    font-family: "Courier New";
    text-shadow: black 1px 1px;
}
